h1 {
	color: white;
	font-size: 300%;
	text-align: left;
	font-family: 'molle';
	font-weight: normal;
	margin: 5% 0;
}


body {
     background-image: url("backround.jpg");
     background-repeat: no-repeat;
     background-position: left top;
     background-attachment: fixed;
     
}

#footer{
	bottom:0px;
	font-size:10pt;
	height:137px;
	position:absolute;
	width:100%;
}
.ctr-p{
	margin:0 auto;
	min-width:980px;
}
table {
		border-collapse: collapse;
		width: 100%;
		color: white;
	}

	th, td {
		padding: 8px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}
	tr:hover {
		background-color: #66CCCC;
	}
