body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
.body2 {
	background-image: url("../images/backgroundeFollowMe.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#footer {
	bottom: 0px;
	font-size: 10pt;
	height: 137px;
	position: absolute;
	width: 100%;
}
.ctr-p {
	margin: 0 auto;
	min-width: 980px;
}
table {
	border-collapse: collapse;
	width: 50%;
	color: white;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
tr:hover {
	background-color: #66CCCC;
}
.buttonSTART {
	border-radius: 50%;
	padding: 32px 16px;
	background-color: #f44336;
	color: white;
}
.vertical {
	position: absolute;
	bottom: 10%;
	top: 10%;
	left: 10%;
}

h2 {
	color: black;
	font-size: 200%;
	text-align: center;
}
h3 {
	color: black;
	font-size: 110%;
	text-align: left;
}
h4 {
	color: black;
	font-size: 150%;
	text-align: center;
}

.element {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.instructions {
	background-color: Black;
	margin: auto;
	padding: 10px;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
	color: green;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	cursor: default;
}

.close2 {
	color: green;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close2:hover, .close2:focus {
	color: black;
	cursor: default;
}

